* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1%;
  }

html { 
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
    color:  #fdedd4;
    margin-top: 3em;
    margin-bottom: 1em;
    padding: 1.5em;
    background-color: #6f622b;
    text-align: center;
    border: 0.1em solid #35391e;
}

main {
  text-align: center;
  width:75%;
  /* Just playing in here to make things mobile */
  display: flex;
  flex-direction: column;
  /* end */
  margin: auto;
  padding: 1em;
  border: 0.1em solid #35391e;
  color: #fdedd4;
  background-color: #6f622b;
}

p {
  margin:1.2em;
}

li {
  display: inline-block;
  margin: 1em;
  list-style: none;
  font-size: 1.3em;
}

fieldset{
  padding: 1.6em;
  text-align: left;
}

.button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    height: 2em;
    width: 8em;
    text-transform: uppercase;
    background-color: #ffaf39;
    border: 2px solid #e28800;
    color: #1e2424;
    font-weight: bold;
    font-size: 1.2em;
}

.fa-check {
  color: darkgreen;
  /* This isn't working to increase size */
  font-size:5em;
}

.fa-times {
  color: darkred;
  font-size: 5em;
}

.final-score{
  font-weight: bold;
}